@tailwind base;

@layer base {
    * {
        color: #1f2937
    }

    ::-webkit-scrollbar {
        width: 5px;
    }

    ::-webkit-scrollbar-track {
        background: #f9fafb;
    }

    ::-webkit-scrollbar-thumb {
        background: #0d9488;
    }

    ::-webkit-scrollbar-thumb:hover {
        background: #6b7280;
    }

}

@tailwind components;
@tailwind utilities;

